@media (max-width: 380px){

    /* --------------------------------------------- banner ---------------------------------------------*/

    
}

@media (max-width: 767px){

/* --------------------------------------------- header ---------------------------------------------*/

body header {
    padding: 25px 50px;
}

header .nav-logo img{
    width: 100px;
    height: 40px;
}

header .nav-logo h1{
    font-size: 18px;
}

header nav .nav-menu-icon{
    display: block;
}

header nav .nav-link, 
.nav-bar .nav-search #search-icon,
.nav-bar .nav-log #log-icon,
.nav-bar .nav-cart #cart-icon{
    display: none;
}

header nav .nav-menu{
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    opacity: 0;
    transition: 0.5s;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}
  
header nav .nav-menu.open {
    width: 350px;
    opacity: 1;
}

header nav .nav-menu .nav-menu-bar{
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    align-items: center;
} 

header nav .nav-menu .nav-menu-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

header nav .nav-menu .nav-menu-link ul li{
    padding: 15px;
    text-align: center;
}

header nav .nav-menu-link ul{
    font-size: 20px;
    padding: 0;
    margin: 0;
}

header nav .nav-menu-link ul li a:hover{
    color: #000;
    text-decoration: none;
}

header nav .nav-menu-bar span{
    font-size: 25px;
}

header nav .nav-menu-bar a svg:hover{
    transform: scale(1.1);
}

.search-category-container .search-category-item {
    width: calc(100% / 2 - 10px);
}
.search-category h2 {
    font-size: 20px;
}

.search-category-item .search-overlay {
    font-size: 14px;
    padding: 8px;
}

.category-items .category-list{
    width: calc(100% / 2 - 10px);
}

/* --------------------------------------------- home --------------------------------------------- */

.banner-content .banner-info{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-info{
    text-align: center;
}
.banner-content .banner-lottie{
    display: none;
}

/* --------------------------------------------- category --------------------------------------------- */

.category-title h3{
    font-size: 35px;
}

.category-title p{
    font-size: 18px;
    font-weight: 250;
}

.category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --------------------------------------------- arrivals --------------------------------------------- */

.arrivals-title h3{
    font-size: 35px;
}

.arrivals-title p{
    font-size: 18px;
    font-weight: 250;
}

/*.arrivals .arrivals-wrapper .arrivals-slide-button{*/
/*    display: none;*/
/*}*/

.arrivals-product .arrivals-product-info{
    margin: 10px;
}

.arrivals .arrivals-product-info h3 {
    font-size: 30px;
    padding-top: 10px;
}

.arrivals .arrivals-product-info p {
    font-size: 25px;
}

/*----------------------------------------- about -----------------------------------------*/

.about .about-title p{
    padding: 30px;
}

.about{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*----------------------------------------- contact -----------------------------------------*/

#contact .contact {
    margin: 100px 30px;
}

/*----------------------------------------- shop -----------------------------------------*/

.shop-title h3 {
    font-size: 1.2em;
  }

  .shop-title p {
    font-size: 0.8em;
  }

  .shop-product-info h3 {
    font-size: 0.9em;
  }

  .shop-buttons {
    flex-direction: column;
  }

  .shop .shop-product {
    width: calc(100% / 1 - 10px);
  }

/*----------------------------------------- quick view -----------------------------------------*/

#quick-view .quick-view{
    flex-direction: column;
}

#quick-view .quick-view-images{
    width: 100%;
}

#quick-view .quick-view-info{
    width: 100%;
    padding: 40px 0 0 0;
}

.quick-view-info-cart{
    flex-direction: column;
    display: flex;
    align-items: center;
}

/*----------------------------------------- footer -----------------------------------------*/

.footer{
    padding: 0px;
}

.footer-logo img{
    width: 70px;
    height: 50px;
    margin: 10px;
}

.footer .footer-link ul{
    font-size: 18px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer .footer-copyright p{
    font-size: 13px;
}

}

@media (min-width: 768px) and (max-width: 1024px){

/* --------------------------------------------- header ---------------------------------------------*/

body header {
    padding: 25px 50px;
}

header .nav-logo img{
    width: 70px;
    height: 30px;
}

header nav .nav-menu-icon{
    display: block;
}

header nav .nav-link, 
.nav-bar .nav-search #search-icon,
.nav-bar .nav-log #log-icon,
.nav-bar .nav-cart #cart-icon{
    display: none;
}

header nav .nav-menu{
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    opacity: 0;
    transition: 0.5s;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}
  
header nav .nav-menu.open {
    width: 350px;
    opacity: 1;
}

header nav .nav-menu .nav-menu-bar{
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    align-items: center;
} 

header nav .nav-menu .nav-menu-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

header nav .nav-menu .nav-menu-link ul li{
    padding: 30px;
    text-align: center;
}

header nav .nav-menu-link ul{
    font-size: 22px;
    padding: 0;
    margin: 0;
}

header nav .nav-menu-link ul li a:hover{
    color: #000;
    text-decoration: none;
}

header nav .nav-menu-bar span{
    font-size: 25px;
}

header nav .nav-menu-bar a svg:hover{
    transform: scale(1.1);
}

.search-category-container .search-category-item {
    width: calc(100% / 3 - 10px);
}

.category-items .category-list{
    width: calc(100% / 3 - 10px);
}

/* --------------------------------------------- home ---------------------------------------------*/



/* --------------------------------------------- arrivals --------------------------------------------- */

/*.arrivals .arrivals-wrapper .arrivals-slide-button{*/
/*    display: none;*/
/*}*/

.arrivals .arrivals-product-info h3 {
    font-size: 25px;
    padding: 10px 0;
}

.arrivals .arrivals-product-info p {
    font-size: 20px;
}

/*----------------------------------------- about -----------------------------------------*/

.about .about-title h3{
    font-size: 50px;
    padding: 20px;
}

.about .about-title p{
    font-size: 22px;
    font-weight: 250;
}

.about .row p{
    font-size: 25px;
    font-weight: 250;
}

/*----------------------------------------- shop -----------------------------------------*/

.shop-title h3 {
    font-size: 1.5em;
  }

  .shop-title p {
    font-size: 0.9em;
  }

  .shop-product-info h3 {
    font-size: 1em;
  }

  .shop .shop-product {
    width: calc(100% / 3 - 10px);
  }

/*----------------------------------------- quick view -----------------------------------------*/

#quick-view .quick-view{
    flex-direction: column;
}

#quick-view .quick-view-images{
    width: 100%;
}

#quick-view .quick-view-info{
    width: 100%;
    padding: 40px 0 0 0;
}

/*----------------------------------------- footer -----------------------------------------*/

.footer-link li{
    font-size: 18px;
}

}